<div class="container-fluid mt-4 d-flex flex-wrap row-gap-3">

    <div class="col-12  col-md-4 col-lg-4 d-flex align-items-center">
        <div class="mx-auto">Neryfil</div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex align-items-center">
        <div class="mx-auto text-center">© 2024 Editorial neryfil. Todos los derechos reservados.</div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex align-items-center">
        <div class="mx-auto"> <a href="https://www.facebook.com/CorporacionNeryfil" target="_blank">Facebook</a> - <a
                href="https://www.instagram.com/neryfilperu/" target="_blank">instagram</a> - <a
                href="https://wa.me/51933383671?text=Hola,%20necesito%20información%20sobre%20los%20libros%20que%20ofrecen."
                target="_blank">Whatsapp</a></div>
    </div>

</div>