<div class="container-fluid mt-4 d-flex flex-wrap row-gap-3">

    <div class="col-12  col-md-4 col-lg-4 d-flex align-items-center">
        <div class="mx-auto">Neryfil</div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex align-items-center">
        <div class="mx-auto text-center">© 2024 Editorial neryfil. Todos los derechos reservados.</div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 d-flex align-items-center">
        <div class="mx-auto">Facebook - instagram - Whatsapp</div>
    </div>

</div>