* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-hidden {
  transform: translateY(-100%);
}

nav {
  z-index: 98;
  width: 100%;
  background: #ecf0ef;
  position: fixed !important;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

nav .wrapper {
  max-width: 1600px;
  height: 55px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.wrapper .logo img {
  width: 50px;
  height: auto;
  margin-left: 150px;
}

.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
  padding: 0px 15px;
}
.nav-links li a {
  color: #242526;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.nav-links li a:hover {
  background: #f4ff92;
}
.nav-links .mobile-item {
  display: none;
}

.content .column header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.wrapper .btn {
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  display: none;
  position: relative;
}
.wrapper .btn.menu-btn {
  margin-right: 20px; /* Ajusta el margen para que no se salga del contenedor */
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper {
    padding-right: 20px; /* Añade un pequeño padding en el lado derecho para evitar que los elementos se salgan */
  }

  .wrapper .logo img {
    margin-left: 20px;
  }

  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    transition: all 0.3s ease;

    border-top: 2px solid #ffffff75;
    border-left: 2px solid #ffffff75;
    box-shadow: 5px 5px 12px #00000035;
    background: #00aca493;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 16px;
  }
}
nav input {
  display: none;
}
