<section class="heroBanner d-flex justify-content-between mx-auto pt-5" id="heroBanner">
    <div class="col position-relative d-none d-lg-block">
        <div class="nino mt-4 animate__animated animate__slideInLeft">
            <img src="assets/images/niño.avif" alt="niño" style="max-width: 444px; max-height: 760px;" class="m-auto">
        </div>
        <div class="wallpaper">
            <img src="assets/images/fondoHeroBanner.avif" alt="wallpaper">
        </div>
    </div>
    <div class="col d-flex align-items-center flex-column animate__animated animate__zoomIn">
        <div class="d-flex align-items-center flex-column mb-5 pt-2">
            <div>
                <p class="editorial mb-0">EDITORIAL</p>
            </div>
            <div>
                <img src="assets/images/neryfil.avif" alt="neryfil" style="max-width: 777px; max-height: 180px;">
            </div>
        </div>
        <div class="explora">
            <p><span style="color: red;">Explora,</span><span style="color: #f8e512;">
                    imagina
                    y</span></p>
            <p><span style="color: rgb(25, 0, 255);">aprende con</span></p>
            <p><span style="color: rgb(25, 0, 255);">nosotros.</span></p>
        </div>
        <div class="d-flex justify-content-between column-gap-5 mb-3">
            <button class="Btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="2.5em" viewBox="0 0 448 512" class="svgIcon">
                    <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                    </path>
                </svg>
                <span class="text">Instagram</span>
            </button>


            <button class="button">
            </button>
            <button class="whatsapp">
                <img src="assets/images/whatsapp.avif" alt="" class="svgIcon">
                <span class="text">whatsapp</span>
            </button>
        </div>
    </div>
</section>

<section class="container mt-5 pt-3 nosotro" id="nosotros">
    @defer(on viewport){
    <div class="d-flex justify-content-between mt-5">
        <div class="nosotros mb-5 px-5 py-3 animate__animated animate__fadeInLeft">
            <div>
                <h4>Nosotros</h4>
                <p class="p-nosotros">En Neryfil, creemos que cada página de un libro es una puerta a un mundo lleno de
                    imaginación,
                    aprendizaje y
                    diversión. Nos dedicamos a crear historias y contenidos que inspiran a los niños de entre 3 a 5 años
                    a
                    explorar su creatividad, desarrollar sus habilidades cognitivas y disfrutar del maravilloso viaje de
                    la
                    lectura. Nuestro compromiso es acompañar a los más pequeños en sus primeros pasos en el mundo
                    literario,
                    brindando experiencias enriquecedoras y memorables que dejarán huella en sus corazones.</p>
            </div>
        </div>
        <div class="d-none d-lg-block img animate__animated animate__fadeIn animate__delay-1s">
            <img src="assets/images/sol.avif" alt="">
        </div>
    </div>


    <div class="d-flex justify-content-between">
        <div class="d-none d-lg-block img animate__animated animate__fadeIn animate__delay-1s">
            <img src="assets/images/espiral.avif" class="espiral" alt="">
        </div>
        <div class="d-flex justify-content-end py-5">
            <div class="mision px-5 py-3 animate__animated animate__fadeInRight">
                <h4>Misión</h4>
                <p class="p-nosotros">Nuestra misión es fomentar el amor por la lectura desde temprana edad, ofreciendo
                    libros que no solo
                    entretengan, sino que también eduquen y estimulen el desarrollo integral de los niños. A través de
                    historias
                    coloridas y atractivas, buscamos despertar la curiosidad, promover valores esenciales y apoyar el
                    crecimiento cognitivo y emocional de nuestros lectores más jóvenes.</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="vision mt-5 px-5 py-3 animate__animated animate__fadeInLeft">
            <h4>Visión</h4>
            <p class="p-nosotros">Nuestra visión es ser la editorial líder en literatura infantil, reconocida por la
                calidad de nuestras
                publicaciones y nuestro compromiso con la educación y el bienestar de los niños. Queremos ser una fuente
                de
                inspiración para las nuevas generaciones, cultivando en ellos el amor por la lectura y proporcionando
                herramientas que les ayuden a convertirse en ciudadanos creativos, empáticos y preparados para el
                futuro.
            </p>
        </div>
        <div class="d-none d-lg-block img corona animate__animated animate__fadeIn animate__delay-1s">
            <img src="assets/images/corona.avif" alt="">
        </div>
    </div>
    }@placeholder {
    <div class="defer"></div>
    }

</section>


<SECTION class="container my-5 pt-2" id="catalogo">
    @defer(on viewport) {
    <h2 class="mt-5 py-5 text-center coleccion-text animate__animated animate__fadeInDown">
        Cada colección “Allin texto”
        contiene 6 libros</h2>

    <div class="animate__animated animate__fadeInUp">
        <div class="container d-flex justify-content-between flex-wrap my-4 row-gap-5">
            <div class="libro-1 mx-auto">
                <div class="img">
                    <img class="libro-1-1" src="assets/images/libro1.avif" />
                </div>

                <div class="texto">
                    <p>3 años</p>
                </div>
            </div>
            <div class="libro-2 mx-auto">
                <div class="img">
                    <img class="libro-2-1" src="assets/images/libro2.avif" />
                </div>
                <div class="texto">
                    <p>4 años</p>
                </div>
            </div>
            <div class="libro-3 mx-auto">
                <div class="img">
                    <img class="libro-32" src="assets/images/libro3.avif" />
                </div>
                <div class="texto">
                    <p>5 años</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="precios d-flex justify-content-between mb-4">
                <div class="libros-gruesos mx-auto">
                    <div class="textos">
                        <div class="comunicaci-n"> Comunicación </div>
                        <div class="matem-tica"> Matemática<br /><br /><br /><br /><br /><br /> </div>
                        <div class="personal-social-c-t-a"> Personal Social - C.T.A. </div>
                    </div>
                    <div class="descripcion">
                        <div class="descripcion2">
                            <div class="precio-unitario-de-cada-libro-grueso"> Precio unitario de cada libro grueso
                            </div>
                        </div>
                        <div class="precio-button">
                            <div class="s-60"> S/60 </div>
                            <div class="button-comprar">
                                <div class="comprar"> Comprar </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="libros-delgados mx-auto">
                    <div class="textos2">
                        <div class="comunicaci-n"> Raz. Matemático </div>
                        <div class="matem-tica"> Trazos-grafías<br /><br /><br /><br /><br /><br /> </div>
                        <div class="personal-social-c-t-a"> Ingles </div>
                    </div>
                    <div class="descripcion">
                        <div class="descripcion2">
                            <div class="precio-unitario-de-cada-libro-grueso"> Precio unitario de cada libro delgado
                            </div>
                        </div>
                        <div class="precio-button">
                            <div class="s-60"> S/30 </div>
                            <div class="button-comprar">
                                <div class="comprar"> Comprar </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="precio-total mx-auto">
                <div class="lbros-coleccion">
                    <div class="descripcion3">
                        <div class="colecci-n-completa"> colección completa </div>
                    </div>
                    <div class="precio">
                        <div class="s-230"> S/230 </div>
                        <div class="button-comprar2">
                            <div class="comprar"> Comprar </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    @placeholder {
    <div class="defer"></div>
    }

</SECTION>


<section class="container recursos pt-2" id="recursos">
    @defer (on viewport) {
    <div class="animate__animated animate__zoomIn">
        <h2 class="text-center mt-5 py-5 coleccion-text animate__animated animate__fadeInDown">Recursos para nuestros
            docentes y papitos</h2>
        <div class="recursos-texto p-4 estamos">
            <p>Estamos comprometidos no solo con los niños, sino también con quienes los guían en su aprendizaje diario:
                los
                docentes y los padres de familia. Sabemos que el apoyo en el hogar y en el aula es fundamental para el
                desarrollo integral de los más pequeños. Por ello, hemos creado una variedad de recursos educativos
                diseñados específicamente para complementar nuestras publicaciones y maximizar el impacto de la lectura
                en
                los niños.</p>
        </div>
        <div class="row my-5 d-flex justify-content-between row-gap-5">
            <div class="col-sm-12 col-md-5 recursos-texto p-4 ofrecemos">
                <h4>Para Docentes</h4>
                <p>Ofrecemos guías didácticas, actividades complementarias, y materiales de apoyo que
                    facilitan
                    la enseñanza de valores, conceptos clave y habilidades fundamentales. Estos recursos están alineados
                    con
                    nuestros libros y han sido diseñados para integrarse fácilmente en los planes de estudio, haciendo
                    que
                    la
                    educación sea una experiencia enriquecedora y divertida para todos.</p>
            </div>
            <div class="col-sm-12 col-md-5 recursos-texto p-4 sabemos">
                <h4>Para Padres de Familia</h4>
                <p> Sabemos que los primeros maestros son los padres, por eso ponemos a su
                    disposición
                    herramientas y consejos para hacer de la lectura un momento especial en casa. Ofrecemos desde guías
                    de
                    lectura hasta actividades lúdicas que fomentan la creatividad y el aprendizaje en el hogar, ayudando
                    a
                    los
                    padres a involucrarse activamente en el desarrollo de sus hijos.</p>
            </div>
        </div>
        <div class="recursos-texto p-4 creemos">
            <p>creemos en la educación como un esfuerzo conjunto. Por eso, trabajamos cada día para ofrecerte los
                mejores
                recursos, asegurando que tanto en el aula como en casa, los niños estén rodeados de oportunidades para
                aprender,
                crecer y explorar el mundo que los rodea.</p>
        </div>
    </div>
    }@placeholder {
    <div class="defer"></div>
    }
</section>


<section class="container overflow-hidden" id="contacto">
    @defer(on viewport){
    <div class="animate__animated animate__zoomIn">
        <h2 class="text-center mt-5 py-5 coleccion-text">Adquiere tu colección en nuestros
            punto de venta autorizado</h2>
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center">
                <div class="mx-auto">
                    <h5 class="my-3">Contáctanos</h5>
                    <div class="redes d-flex justify-content-center my-3">
                        <svg class="icon-whatsapp" width="71" height="71" viewBox="0 0 71 71" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M60 0.5H11C5.20101 0.5 0.5 5.20101 0.5 11V60C0.5 65.799 5.20101 70.5 11 70.5H60C65.799 70.5 70.5 65.799 70.5 60V11C70.5 5.20101 65.799 0.5 60 0.5Z"
                                fill="#25D366" />
                            <path
                                d="M17.7023 55.4674L19.6604 46.3761C17.1436 42.4065 16.1618 37.6549 16.8992 33.0129C17.6366 28.3709 20.0425 24.1574 23.6654 21.1631C27.2884 18.1687 31.8795 16.5993 36.5773 16.7492C41.2751 16.8991 45.7568 18.7581 49.1815 21.9773C52.6063 25.1965 54.7386 29.5548 55.1785 34.2343C55.6185 38.9139 54.3357 43.5932 51.571 47.3943C48.8063 51.1954 44.7496 53.8571 40.162 54.8799C35.5744 55.9027 30.7713 55.2164 26.6537 52.9498L17.7023 55.4674Z"
                                fill="#25D366" stroke="white" stroke-width="8.99063" />
                            <path
                                d="M43.5792 38.6835C43.1596 38.4038 42.74 38.2639 42.3204 38.8234L40.6421 41.0612C40.2225 41.341 39.9427 41.4808 39.3833 41.2011C37.2853 40.0822 34.3481 38.8234 31.8305 34.6274C31.6906 34.0679 31.9704 33.7882 32.2501 33.5084L33.5089 31.5503C33.7886 31.2706 33.6487 30.9909 33.5089 30.7111L31.8305 26.655C31.4109 25.5361 30.9913 25.6759 30.5717 25.6759H29.4528C29.173 25.6759 28.6136 25.8158 28.0541 26.3753C24.977 29.4523 26.2358 33.7882 28.4737 36.5855C28.8933 37.145 31.6906 42.1802 37.7049 44.8376C42.1806 46.7957 43.1596 46.516 44.4184 46.2363C45.957 46.0964 47.4955 44.8376 48.1948 43.5788C48.3347 43.1592 49.034 41.341 48.4746 41.0612"
                                fill="white" />
                        </svg>
                        <svg class="icon-facebook" width="71" height="71" viewBox="0 0 71 71" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M60 0.5H11C5.20101 0.5 0.5 5.20101 0.5 11V60C0.5 65.799 5.20101 70.5 11 70.5H60C65.799 70.5 70.5 65.799 70.5 60V11C70.5 5.20101 65.799 0.5 60 0.5Z"
                                fill="#1877F2" />
                            <path
                                d="M49.1172 45.6171L50.6758 35.4999H40.9688V28.9374C40.9688 26.1757 42.3223 23.4687 46.6699 23.4687H51.0859V14.8554C51.0859 14.8554 47.0801 14.1718 43.252 14.1718C35.2539 14.1718 30.0312 19.0117 30.0312 27.789V35.4999H21.1445V45.6171H30.0312V70.4999H40.9688V45.6171H49.1172Z"
                                fill="white" />
                        </svg>
                        <svg class="icon-instagram" width="71" height="71" viewBox="0 0 71 71" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M60 0.5H11C5.20101 0.5 0.5 5.20101 0.5 11V60C0.5 65.799 5.20101 70.5 11 70.5H60C65.799 70.5 70.5 65.799 70.5 60V11C70.5 5.20101 65.799 0.5 60 0.5Z"
                                fill="black" />
                            <path
                                d="M60 0.5H11C5.20101 0.5 0.5 5.20101 0.5 11V60C0.5 65.799 5.20101 70.5 11 70.5H60C65.799 70.5 70.5 65.799 70.5 60V11C70.5 5.20101 65.799 0.5 60 0.5Z"
                                fill="url(#paint0_radial_2060_420)" />
                            <path
                                d="M60 0.5H11C5.20101 0.5 0.5 5.20101 0.5 11V60C0.5 65.799 5.20101 70.5 11 70.5H60C65.799 70.5 70.5 65.799 70.5 60V11C70.5 5.20101 65.799 0.5 60 0.5Z"
                                fill="url(#paint1_linear_2060_420)" />
                            <path
                                d="M45.4805 14.4453H25.5195C19.4034 14.4453 14.4453 19.4034 14.4453 25.5195V45.4805C14.4453 51.5966 19.4034 56.5547 25.5195 56.5547H45.4805C51.5966 56.5547 56.5547 51.5966 56.5547 45.4805V25.5195C56.5547 19.4034 51.5966 14.4453 45.4805 14.4453Z"
                                stroke="white" stroke-width="8.79712" />
                            <path
                                d="M35.5 45.3438C40.9366 45.3438 45.3438 40.9366 45.3438 35.5C45.3438 30.0634 40.9366 25.6562 35.5 25.6562C30.0634 25.6562 25.6562 30.0634 25.6562 35.5C25.6562 40.9366 30.0634 45.3438 35.5 45.3438Z"
                                stroke="white" stroke-width="8.79712" />
                            <path
                                d="M47.9414 23.8789C48.3945 23.8789 48.7617 23.5116 48.7617 23.0586C48.7617 22.6055 48.3945 22.2383 47.9414 22.2383C47.4884 22.2383 47.1211 22.6055 47.1211 23.0586C47.1211 23.5116 47.4884 23.8789 47.9414 23.8789Z"
                                stroke="white" stroke-width="8.79712" />
                            <defs>
                                <radialGradient id="paint0_radial_2060_420" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse" gradientTransform="translate(28.5 70.5) scale(70)">
                                    <stop offset="0.1" stop-color="#FFDD55" />
                                    <stop offset="0.5" stop-color="#FF543E" />
                                    <stop offset="1" stop-color="#C837AB" />
                                </radialGradient>
                                <linearGradient id="paint1_linear_2060_420" x1="0.5" y1="0.5" x2="14.5" y2="70.5"
                                    gradientUnits="userSpaceOnUse">
                                    <stop offset="0.1" stop-color="#3771C8" />
                                    <stop offset="0.5" stop-color="#6600FF" stop-opacity="0" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                    <h5 class="my-3">Librería: "Mi Jesús"</h5>
                    <h5 class="my-3">Dirección: Mz. H Lt. 12 III Etapa</h5>
                    <h5 class="my-3">San Juan Bautista - comas</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="mx-auto d-flex justify-content-center">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1951.9295919435663!2d-77.04846839561533!3d-11.91488668175438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d1cebbffc387%3A0xfa55e94e4759376b!2sSan%20juan%20bautista%20III!5e0!3m2!1ses-419!2spe!4v1724712643676!5m2!1ses-419!2spe"
                        style="border:0; min-height: 450px; width: 100%;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>
    </div>
    }@placeholder {
    <div class="defer"></div>
    }


</section>